.w3-content,.w3-auto{margin-left:auto;margin-right:auto}
.w3-content{max-width:980px}
.w3-container,.w3-panel{padding:0.01em 16px}
.w3-center{text-align:center!important}
.w3-center .w3-bar{display:inline-block;width:auto}
.w3-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-xxxlarge{font-size:48px!important}
.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.w3-display-container{position:relative}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}
.w3-wide{letter-spacing:4px}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-image{max-width:100%;height: 250px;}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-padding-large{padding:12px 24px!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-jumbo{font-size:64px!important}
.w3-hide-small{display:none!important}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:transparent!important}
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}


.img-raised {
	box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.rounded {
	border-radius: 6px !important;
}
.features{
 
}
header {
  background-color: rgba(26, 10, 56, 0.53);
  color: #fff;
  z-index: 1000;
}
header a {
  color: #fff;
}
header::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.02);
  position: absolute;
  left: 0;
  bottom: -20px;
} 
.contact {
  font-size: 12px;
}

.tel {
  margin-right: 30px;
}

.contact i {
  color: #ee1515;
  margin-right: 10px;
}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
.login {
  padding: 10px 20px;
  font-size: 14px;
  margin-right: 25px;
  text-transform: uppercase;
}

.contact a:hover,
.login:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.login i {
  color: #ee1515;
  margin-right: 8px;
}
.social {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.social li:not(:last-child) {
  margin-right: 20px;
}

.social a {
  font-size: 14px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #ee1515;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
}

.social a:hover {
  color: #fff;
  background-color: #ee1515;
} 
.team-bg-ban{position:absolute;z-index:-1;height:100%;width:100%}.team-bg-ban img{height:100%;width:100%}
.cart,
.login-icon,
.search-icon {
  color: #fff;
  font-size: 1.5rem;
}
.parallax-one { background: url('bgimg.jpg') fixed 50%;
}
.cart:hover,
.login-icon:hover,
.search-icon:hover {
  color: #ee1515;
}

.cart {
  margin-left: 20px;
}

form input.btn-primary:hover,
form button.btn-primary:hover {
  background-color: #fff;
  color: #ee1515;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row1 {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-left: 100px; 
  margin-top: 100px; }

  .row2 {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-left: 100px; 
    margin-bottom: 100px; }
.col-md-2, .col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }



  .col-md-2 {
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  

    .mr-auto {
      margin-right: auto !important; }
    
    
    .ml-auto {
      margin-left: auto !important; }